<strong>Password recovery</strong>

<p>A password recovery request was made for e-mail ({{ email }}). If you were not the author of this request, you must change your password now.</p>

<p>For continue the password recovery, use the following token {{ token }} or click on the above link:</p>

<a href="{{ link }}">Create a new password</a>
